{{#if pokemon.length}}
<section class="container"> 
  <section class="flex-row justify-center">
    <div class="card">
      <div class="card-section">
      <img {{pokemon.image}}>
    </div>
    <div class="card-section">
      <p>{{pokemon.name}}</p>
      <p>{{pokemon.type}}</p> 
      {{#if pokemon.type2}}
      <p>{{pokemon.type2}}</p>
      {{/if}}
    </div>
  </div>
  </section>
</section>
{{/if}}