<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pokédex</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/{{style}}">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/profile"> 
          <img src="https://cdn3.emoji.gg/emojis/pokeball.png" width="64px" height="64px" alt="pokeball">
        </a> 
        <a href="/pokemon">My Pokédex</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/pokemon">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{/if}}
      </nav>
    </header>
    {{!-- <nav class="top-bar" id="example-menu">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="#0">My Teams</a></li>
          <li><a href="#0">Generate Random Team</a></li>
        </ul>
      </div>
       <div class="top-bar-right">
         <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Find Pokémon!</button></li>
        </ul>
      </div>
    </nav> --}}
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="team-credits">
        <h3>Brought To You By Team Rocket 5</h3>
        <p>Allister Kalag, Leonela Ludena, Amanda Monroy, Raymond Nguyen, Nathan Sabin</p>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="/public/js/foundation.min.js"></script>
</body>
</html>
