  <div>
    <div class="home-container">
      <div class="home-desktop-default">
        <img
          alt="realpokedex146"
          src="../assets/realpokedex.png"
          class="home-realpokedex1"
        />
        <button type="button" class="home-signup-bttn button" >Button</button>
        <button type="button" class="home-login-bttn button">Button</button>
      </div>
    </div>
  </div>
