 <div class="login-container">
  <div class="login-login-info">
    <input type="text" placeholder="Username:" id="uname" class="login-username input" />
    <input type="text" placeholder="Password:" id="pw" class="login-password input" />
    <button type="button" class="login-login-bttn button">n</button>
    <button type="button" class="login-backbtn button"></button>
    <img src="../assets/pokeball_sprites.gif" alt="image" class="login-image" />
  </div>
 </div>

<script src="./js/login.js"></script>
