<div class="row">
  <div class="col-auto welcomeMsg">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
    <h2>Create your Team here</h2>

   <form class="pokemon1-name">
      <div class="form-group">
        <label for="pokemon1-name" class="pkmName">
          Pokemon Name
        </label>
        <input class="form-input" type="text" id="pokemon1-name" name="pokemon1-name"/>
      </div>
      <div class="form-group">
        <button type="submit" id="{{id}}" class="btn btn-primary">Create</button>
      </div>
    </form>
</div>

<script src="/js/pokemon.js"></script>

