<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
    <h2>Create your Team here</h2>

   <form class="pokemon1-name">
      <div class="form-group">
        <label for="pokemon1-name">
          Pokemon #1 Name
          </label>
        <input class="form-input" type="text" id="pokemon1-name" name="pokemon1-name"/>
      </div>
      <div class="form-group">
        <label for="pokemon2-name">
          Pokemon #2 Name
        </label>
        <input class="form-input" type="text" id="pokemon2-name" name="pokemon2-name" >
      </div>
      <div class="form-group">
        <label for="pokemon3-name">
          Pokemon #3 Name
          </label>
        <input class="form-input" type="text" id="pokemon3-name" name="pokemon3-name"/>
      </div>
      <div class="form-group">
        <label for="pokemon4-name">
          Pokemon #4 Name
          </label>
        <input class="form-input" type="text" id="pokemon4-name" name="pokemon4-name"/>
      </div>
      <div class="form-group">
        <label for="pokemon5-name">
          Pokemon #5 Name
        </label>
        <input class="form-input" type="text" id="pokemon5-name" name="pokemon5-name" >
      </div>
      <div class="form-group">
        <label for="pokemon6-name">
          Pokemon #6 Name
          </label>
        <input class="form-input" type="text" id="pokemon6-name" name="pokemon6-name"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if team.length}}
  <div class="team">

    {{#each pokemonData as |pokemon|}}
    {{!-- <div class="row mb-2"> --}}
      <div class="col-md-8">
        <h4><a href="/pokemon/{{pokemon.name}}">{{pokemon.type}}</a></h4>
  
    </div>
    {{/each}}
  {{!-- </div> --}}
  {{/if}}
</div>

<script src="../public/js/pokemon.js"></script>
