header, footer {
  color: #ffffff;
  background-color: #272668;
  margin: 0;
  padding: 0;
}

body {
  background-color:#140a1c;
}

.team-credits {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fdfa42;
  text-align: center;
  text-justify: center;
}

.pro-body {
  background-color: #140a1c;
  margin: 0;
  padding: 0;
  color: white;
}

#welcome-message {
  color: white;
}

.btn {
    padding: 10px;
    border-radius: 10pt;
}


.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

h2 {
  color: white
}

.pkmName {
  color: white
}

thead {
  background-color: #272668;
  color:#fdfa42
}

tbody {
  background-color: #88A0A8;
}
