header, footer, body {
  background-color: #524FE2;
}

.team-credits {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration-color: yellow;
  text-align: center;
  text-justify: center;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}